
// THEMES

// Theme1
$theme1-color1: #9198e5 !default;
$theme1-color2: #b44b4b !default;
$theme1-color3: #535dcf57 !default;
$theme1-color4: #dee2e6 !default;
$theme1-color5: #dee2e6 !default;
$theme1-color6: #dee2e6 !default;
$theme1-color7: #dee2e6 !default;
$theme1-color8: #dee2e6 !default;
